@media ( max-width: 768px ) {
    .loginFunctionalDiv {
        width : 100%;
        height : 200px;

/* 
        background-color: red; */
    }

        .loginInputsDiv {
            width : 100%;
            height : 48%;

        }

        .loginInputsDiv input {
            width : 88%;
            height : 44px;

            font-size : 15px;

            margin-bottom : 4px;
        }

            .emailInputDiv {
                width : 100%;
                height : 50%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

            .passwordInputDiv {
                width : 100%;
                height : 50%;

                display : flex;
                align-items: center;
                justify-content: center;
            }


        .loginButtonOutterDiv {
            width : 100%;
            height : 52%;

        }

            .findUserTextInfo {
                width : 100%;
                height : 30%;
                display : flex;
                align-items: center;
                justify-content: center;
                /* background-color: red; */
            }

                .findUserTextInfo div {
                    width : 88%;
                    height : 100%;
                }

                    .findUserTextInfo div p { 
                        width : 100%;
                        height : 90%;

                        text-align: right;
                    }

            .errorMessageDiv {
                width : 100%;
                height : 25px;

                display : flex;
                align-items: center;
                justify-content: center;
            }
            .errorMessage  {
                width : 88%;
                height : 22px;
                font-size : 14px;
                color : red;

            }
            .loginButtonDiv {
                width : 100%;
                height : 50%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .loginButton {
                    width : 88%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                .loginButtonDiv button {
                    width : 100%;
                    height : 44px;

                    border : 1px solid black;
                    background-color: white;
                }


    /* .socailLoginButtonDiv {
        width : 100%;
        height : 110px;

        margin-top : 22px;
    }

        .loginButton {
            width : 100%;
            height : 57px;

            display : flex;
            align-items: center;
            justify-content: center;

            border-radius: 15px;

            margin-bottom : 2%;
        }

            .loginButtonImgDiv {
                width : 25%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: center;

                margin-right : 7%;
            }

                .loginButtonImgDiv img {
                    width : 44px;
                    height : 44px;
                }

            .loginButtonTextDiv {
                width : 70%;
                height : 100%;


                display : flex;
                align-items: center;
                justify-content: left;

                font-size : 18px;
                font-weight: bold;
            }

            .kakaoLoginButton {
                background-color: #FEE500;
            }

            .naverLoginButton {
                background-color: #06cc80;
            }

            .nunugramLoginButton {
                background-color: black;
                color : white;
                border: 1px solid black;
            }

            .nunukangLoginButton {
                background-color: white;
                color : black;
                border: 1px solid black;
            } */
               
}


