@media ( max-width: 768px ) {

  .commonLowerMenuBarOutterDiv {
    width : 100vw;
    height : 10vh;

    border-top : 1px solid rgb(29, 29, 29);
  }

    .commonLowerMenuBarDiv {
      width : 100%;
      height : 100%;
      
      display : flex;
      align-items: center;
      justify-content: center;
    }

      .commonLowerMenuBarDiv div {
        width : 20%;
        height : 100%;

        display : flex;
        align-items: center;
        justify-content: center;

        font-size : 23px;
      }


}
