<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings/layout/common/commonLayout}">

    <head>
        <title>누누강 메인페이지</title>
    </head>
      
    <body>
        <div layout:fragment="postsBar">
            <h1>postsBar</h1>
        </div>
    </body>
<!-- index.html 고유 CSS 추가 -->
<!-- <th:block layout:fragment="css"> -->
    <!--    <link rel="stylesheet" th:href="@{/css/page/home.css}" >-->
<!-- </th:block> -->
<!-- index.html 고유 스크립트 추가 -->
<!-- <th:block layout:fragment="script"> -->
    <!--    <script th:src="@{/js/page/home.js}"></script>-->
<!-- </th:block> -->

<!-- Content -->
    
</html>