<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="mainPageUpperMenuBar">
        <div class="commonUpperMenuBarOutterDiv">
            <div class="commonUpperLogoOutterDiv">
                <p>Nunugram</p>
            </div>
            <div class="commonUpperFunctionalOutterDiv">
                <div class="commonUpperAlertOutterDiv">
                    <div class="commonUpperAlertDiv">
                        <p class="showAlertDivPTag" id="appearAlertDivButton" ><i class="fa-sharp fa-regular fa-heart"></i></p>
                    </div>
                </div>
                <div class="commonUpperMessageOutterDiv">
                    <div class="commonUpperMessageDiv" id="appearMessageDivButton">
                        <i class="fa-sharp fa-solid fa-paper-plane"></i>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

</html>