<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="myPageUpperMenuBar">
        <div class="commonUpperMenuBarOutterDiv">
            <div class="commonUpperHeaderFunctionalDiv">
                <p><span><i class="fa-solid fa-angle-right"></i> simjungh</span></p>
            </div>
            <div class="commonUpperHeaderSubDiv">
                <!-- <div class="commonUpperHeaderInnerSubDiv1">test</div>
                <div class="commonUpperHeaderInnerSubDiv2">test</div> -->
            </div>

        </div>
    </div>

</html>