@media (min-width: 650px) {

    .lodingDiv {
        display : none;

        position: absolute;
        width : 10vh;
        height : 10vh;
        font-size: 13px;
        color : black;
        /* background-color: red; */

        z-index: 100;
        top : 43%;
        left : 45%;
    }

        .spinner {
            animation: spin 2.5s linear infinite;
        }
    .content {
        position: relative;
    }

    .fishingSpotTypeButtonDiv {
        width : 16%;
        height : 30%;

        position: relative;
        z-index: 5;

        left : 84vw;
        top : 8%;
    }

        .fishingSpotTypeButtonDiv>div {
            width : 100%;
            height : 33%;

            display : flex;
            align-items: center;
            justify-content: center;
        }

        .fishingSpotTypeButtonDiv>div div {
            width : 80%;
            height : 80%;

            display : flex;
            align-items: center;
            justify-content: center;

            border : 2px solid black;
            border-radius: 25px;

            font-size : 34px;
            font-weight: 500;

            background-color: rgba(168, 168, 168, 0.36);
            /* background-color: rgba(31, 31, 31, 0.36); */
        }


        .tmp {
            position: absolute;
            bottom : -16%;

            height : 108%;
            width : 100%;

            display: flex;
            display : none;

            z-index: 1;

        }

            .fishingSpotInfoOutterDiv {
                width : 100%;
                height : 100%;

                position: relative;
                background-color: #5075E5;

                z-index: 2;

                overflow-y: scroll;

                border-radius: 40px 40px 0px 0px;
            }

                .fishingSpotInfoHeaderOutterDiv {
                    width : 100%;
                    height : 10%;
                }

                    .fishingSpotInfoHeader1Div {
                        width : 100%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .fishingSpotInfoHeader1InnerLeftDiv {
                        width : 18%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        font-size : 51px;
                        color : rgb(202, 199, 199);
                    }




                    .fishingSpotInfoHeader1InnerCenterDiv {
                        width : 64%;
                        height : 100%;
                    }

                        .fishingSpotNameDiv {
                            width : 100%;
                            height : 100%;

                            display : flex;
                            align-items :center;
                            /* align-items :flex-end; */
                            justify-content: center;

                            font-size : 46px;
                            font-weight: 600;
                        }


                        /* .fishingSpotAddressDiv {
                            width : 100%;
                            height : 45%;

                            display : flex;
                            align-items: center;
                            justify-content: center;

                            font-size : 38px;
                            font-weight: 600;
                        } */

                    .fishingSpotInfoHeader1InnerRightDiv {
                        width : 18%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        font-size : 51px;

                    }


                .fishingSpotInfoContentDiv {
                    width : 100%;
                    height : 90%;

                    overflow-y: scroll;
                }

                    .fishingSpotInfoContent1 {
                        width : 100%;
                        height : 60%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        /* display : none; */
                    }

                        .fishingSpotWeatherHeaderDiv {
                            width : 19%;
                            height : 100%;
                        }
                            .fishingSpotWeatherHeaderDiv div {
                                width : 190px;;
                                height : 12%;

                                display : flex;
                                align-items: center;
                                justify-content: center;

                                font-size : 36px;
                                background-color: rgb(41, 159, 237);
                            }

                                .fishingSpotWeatherHeaderDiv div p {
                                    width : 80%;
                                    height : 40%;

                                    text-align: left;
                                }

                                
                            .timeHDiv {
                                width : 100%;
                                height : 13% !important;
                            }

                            .weatherIconHDiv {
                                width : 100%;
                                height : 15% !important;
                            }




                        .fishingSpotWeatherContentDiv {
                            min-width : 81%;
                            max-width : auto;

                            height : 100%;

                            display : flex;
                            align-items: flex-start;

                            flex-wrap: no-wrap;
                            overflow-x: scroll;
                            overflow-y: hidden;
                        }


                            .fishingSpotWeatherContentDiv>div {
                                width : 194px;
                                height : 100%;
                                flex: 0 0 auto;

                                /* display : inline-block; */

                                font-size : 36px;
                                background-color: rgb(41, 159, 237);
                            }

                                .fishingSpotWeatherContentDiv>div div {
                                    width : 100%;
                                    height : 12%;

                                    display : flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                .fishingSpotWeatherContentDiv>div div p {
                                    width : 100%;
                                    height : 40%;

                                    text-align: center;
                                }


                                .timeDiv {
                                    width : 100%;
                                    height : 13% !important;
                                }

                                .weatherIconDiv {
                                    width : 100%;
                                    height : 15% !important;
                                }

                            
                    .fishingSpotInfoContent2 {
                        width : 100%;
                        height : 48%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        background-color: rgb(41, 159, 237);
                    }

                        .fishingSpotInfoContent2 div {
                            width : 90%;
                            height : 80%;

                            border-radius: 60px;
                        }

                    .fishingSpotInfoContent3 {
                        width : 100%;
                        height : 30%;

                        background-color: rgb(41, 159, 237);
                    }

                        .fishingSpotInfoContent3 div {
                            width : 90%;
                            height : 80%;

                            border-radius: 60px;
                        }

                            .fishingSpotInfoContent3 div p  {
                                width : 90%;

                                font-size : 43px;
                                border-radius: 60px;

                                margin-left : 10%;
                            }

                                .addressTextSpan {
                                    height : auto;
                                }





        .marker-label {
            margin-top : -75px;
            color : white;
        }


        .googleMapDiv {
            width : 100vw;
            height : 78vh;

            z-index : 1;
            position: relative;
        }
        
        .commonLowerMenuBar {
            position : fixed;
            bottom : 0vh;
        }

        
        .locationClickEventDiv {
            width : 100vw;
            /* height : 70vh; */
            /* height : 70vh; */

            display : none;

            position: fixed;
            
            border-radius: 20px 20px 0px 0px;
            z-index: 100;
            bottom : 8vh;

            overflow-y: scroll;
        }


            .locationInfoHeaderDiv {
                width : 100%;
                height : 11%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .locationFravoriteButtonDiv {
                    width : 15%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;

                    font-size: 20px;
                }
                .locationNameInfoDiv {
                    width : 70%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .locationNameInfoDiv img {
                        width : 20px;
                        height : 20px;
                    }

                .locationClickDivDelButtonDiv {
                    width : 15%;
                    height : 100%;
                    
                    display : flex;
                    align-items: center;
                    justify-content: center;
                    
                    font-size: 27px;
                }


            .locationTemperatureOutterDiv {
                width : 100%;
                height : 73%;
            }

                .locationTemperatureOutterHeaderDiv {
                    width : 100%;
                    height : 11%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }


                .locationTemperatureOutterContentDiv {
                    width : 100%;
                    height : 74%;

                    background-color: blue;
                }

                .locationTemperatureOutterFunctionalDiv {
                    width : 100%;
                    height : 15%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .locationTemperatureFunctionalButton {
                        width : 55%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: left;
                    }


                    .sunriseTimeDiv {
                        width : 21%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .sundownTimeDiv {
                        width : 21%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

        
               
}


