<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">

  <th:block th:fragment="postViewPageConfig">


    <!-- css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/main/community/community.css}" >
    <link rel="stylesheet" type="text/css" th:href="@{/css/pages/main/community/postViewPage.css}" >
    
    <!-- js -->
    <script th:src="@{/js/pages/main/community/createPost.js}"></script>
    <script th:src="@{/js/pages/main/community/viewPost.js}"></script>

    
  

  </th:block>

</head>

</html>
