@media (min-width: 650px) {


    .content {
        width : 100%;
        height : 78vh;
    }
    
    /* header */
    .postCreateHeaderDiv{
        width : 100%;
        height : 25%;
    }

        /* functional Div */

        .postFunctionalDiv{
            width : 100%;
            height : 43%;

            display: flex;
        }

        .postReturnPageButtonDiv{
            width : 25%;
            height: 100%;

            font-size : 71px;

            display : flex;
            align-items : end;
            justify-content: left;
            text-align: left;

            overflow-y: scroll;
        }

        .postCreateButtonDiv{
            width : 75%;
            height: 100%;
            display: flex;

            align-items : flex-end;
            justify-content: right;
        }

        .postStoreButton {
            width : 22%;
            height : 68%;
            border : 4px solid black;
            border-radius: 18%;
            background-color: royalblue;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size : 33px;
            color : white;
        }
        .postSaveButton {
            width : 22%;
            height : 68%;
            border : 4px solid black;
            border-radius: 18%;
            background-color: darkblue;
            margin-left : 24px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size : 33px;
            color : white;
        }
        /* functional Div */

        /* postTitleDiv */
        .postTitleDiv{
            width : 100%;
            height : 57%;

            display : flex;
            align-items: center;
            justify-content: center;
        }
        /* postTitleDiv */
        .postTitleDiv input{
            width: 99%;
            height: 66%;

            font-size: 52px;
            background-color: cornflowerblue;

            border : 0px;
            border-bottom: 5px solid rgba(0, 0, 0, 0.34);
        }

        .postWriterEmail{
            display: none;
        }

        .postWriterName{
            display: none;
        }

    /* header */

    /*content*/
    .postContentOutterDiv{
        width : 100%;
        height : 50vh;
    }

        .communityInnerContentDiv {
            width : 100%;
            height : 100%;
        }

    .postContentTextDiv {
        width : 100%;
        height : 75%;

        display : flex;
        align-items: center;
        justify-content: center;
    }

    .postContentTextDiv textarea{
        width : 98%;
        height : 100%;

        font-size : 38px;
    }

    .postContentImgOutterDiv {
        width : 100%;
        height : 25%;

        display : flex;
        align-items: center;
        justify-content: center;
    }

    .postContentImgInnerDiv {
        width : 98%;
        height : 95%;

        display : flex;
        align-items: center;
        justify-content: left;

        margin-top : 7px;
        border-top : 8px solid gray;
        border-bottom : 8px solid gray;
        background-color: white;
    }

    .postImgDiv {
        width : 168px;
        height : 168px;
        background-color: white;

        border : 5px solid gray;

        margin-left : 11px;
        position: relative;
    }

    .postImgDiv img{
        width : 168px;
        height : 168px;
    }

    .imgDeleteDiv {
        width : 40px;
        height: 40px;
        border: 4px solid black;
        border-radius: 50%;
        background-color: red;

        position: absolute;
        right : 2px;
        top : 2px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgDeleteDiv:after {
        content: "\00d7";
        font-size : 55px;
        margin-top: 8px;
    }

    .imgZoomUpDiv {
        width : 82%;
        height : 43%;

        position: absolute;
        top : 20%;

        display : none;
        border : 7px solid black;
        z-index : 5;
    }
    .imgZoomUpDiv img{
        width : 100%;
        height : 100%;

        position: absolute;
    }

    .imgZoomDownDiv {
        width : 55px;
        height: 55px;
        border: 4px solid black;
        border-radius: 50%;
        background-color: red;

        position: absolute;
        right : 2px;
        top : 2px;

        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .imgZoomDownDiv:after {
        content: "\00d7";
        font-size : 55px;
        margin-top: 8px;
    }
    /* content */

    /* subdiv*/



    .commentOutterDiv {
        width : 100%;
        height : auto;

        /* position: relative; */

    }

        /* .commentGapDiv {
            width : 100%;
            height : 188px;
        } */

        .commentHeaderDiv {
            width : 100%;
            height : 165px;

            display : flex;
            align-items: center;
            justify-content: left;

            border-bottom: 5px solid black;
        }

            .commentHeaderDiv div {
                width : 20%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: center;

                font-size : 61px;
                font-weight: 800;

                /* background-color: blue; */
            }

        .commentNullContentDiv {
            width : 100%;
            height : 338px;

            margin-top : 52px;
            background-color: white;

/*         
            font-size : 45px; */

            border-radius: 50px;;
            margin-bottom : 62px;
            /* margin-bottom : 25px; */
            border-bottom: 4px solid black;;
        }

            .commentUserInfoDiv {
                width : 100%;
                height : 28%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .commentUserInfoDiv>div {
                    width : 90%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .commentUserProfileDiv {
                        width : 15%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                    }

                        .commentUserProfileDiv img {
                            width : 70px;
                            height : 70px;;

                            border-radius: 50%;
                            
                            border : 2px solid black;
                        }

                    .commentUserNameDiv {
                        width : 49%;
                        height : 100%;

                        margin-left : 1%;
                        display : flex;
                        align-items: center;
                        justify-content: left;

                        font-size : 47px;
                    }

                    

                    .commentUserEtcDiv {
                        width : 35%;
                        height : 100%;

                    }

            .commentCreateContentDiv {
                width : 100%;
                height : 47%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .commentCreateContentDiv>div {
                    width : 90%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }
                
                .commentCreateContentDiv>div textarea {
                    width : 100%;
                    height : 100%;

                    font-size : 38px;
                }

            .commentCreateButtonDiv {
                width : 100%;
                height : 25%;

                display : flex;
                align-items: center;
                justify-content: center;
            }
                .commentCreateButtonDiv div {
                    width : 90%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: right;
                }


                    .commentCreateButtonDiv div button {
                        width : 158px;
                        height : 80px;

                        font-size : 36px;

                        border-radius: 20px;;
                    }
        .commentContentDiv {
            width : 100%;
            height : 338px;

            margin-top : 52px;
            background-color: white;

            border-radius: 50px;;

            margin-bottom : 25px;
            border-bottom: 4px solid black;;
        }


        .postUnLikeITag {
            color : red !important;
        }
}
