<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="commonLowerMenuBar">
        <div class="commonLowerMenuBarOutterDiv">
            <div class="commonLowerMenuBarDiv">
                <div>
                    <i class="fa-solid fa-house"></i>
                </div>
                <div>
                    <i class="fa-solid fa-ranking-star"></i>
                </div>
                <div>
                    <i class="fa-solid fa-camera-retro"></i>
                </div>
                <div>
                    <i class="fa-sharp fa-solid fa-temperature-half"></i>
                </div>
                <div>
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
        </div>
    </div>
    
</html>