@media (prefers-color-scheme: light) {
  
    .slideMessageDiv {
        background-color: white;
    }

    .userSearchDiv {
        background-color :rgb(205, 205, 205);
        color : rgb(28, 28, 28);     
    }

    .searchInput {
        background-color :rgb(205, 205, 205);
        color : black !important;
    }
    

    .messageFunctionalDiv1 {
        background-color :rgb(205, 205, 205);
    }

}
  
  @media (prefers-color-scheme: dark) {
  
    .slideMessageDiv {
        background-color: black;
    }
  
    .searchIconDiv {
        color :rgb(98, 96, 96);
    }
  
  
    .searchInput {
        border : 0px;
        background-color : rgb(49, 49, 49);
        color : white !important;
    }
  
    .userSearchDiv {
        background-color: rgb(49, 49, 49);
    }
  
  
    .messageFunctionalDiv1 {
        background-color : rgb(49, 49, 49);
    }
  
  }
  
  
  @media ( max-width: 768px ) {

    /* messageDiv */


    .slideMainOutterDiv {
        width : 100vw;
        height : 100%;
  
        display : flex;
    }
  
        .slideMainDiv {
            width : 100%;
            height : 100%;
  
            /* display : none; */
        }
  

        .slideMessageDiv {
            width : 100vw;
            height : 100vh;

            position : absolute;
            right : 0px;

            float:right;

            display : none;
            z-index: 100;
        }


            .commonMessageHeaderOutterDiv {
                width : 100%;
                height : 8%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

            
            
                .commonMessageHeaderFunctionalDiv {
                    width : 65%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .commonMessageHeaderFunctionalDiv p {
                        width : 80%;
                        height : 90%;

                        display : flex;
                        align-items:flex-end;
                        justify-content: left;

                        font-size : 25px;
                        font-weight: 400;
                    }


                .commonMessageHeaderSubDiv {
                    width : 35%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .commonMessageHeaderInnerSubDiv1 {
                        width : 50%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: right;
                    }

                    .commonMessageHeaderInnerSubDiv2 {
                        width : 50%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }




            .commonUserSearchOutterDiv {
                width : 100%;
                height : 7%;
                
                display : flex;
                align-items: center;
                justify-content: center;
            }

                .commonUserSearchOutterDiv>div {
                    width : 92%;
                    height : 80%;

                    margin-top : 3%;

                    display : flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 9px;
                }

                    .searchIconDiv {
                        width : 13%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                        
                        font-size : 16px;
                        border-radius: 9px;
                    }

                    .searchInputDiv {
                        width : 87%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        border : 0px;
                        border-radius : 0px 9px 9px 0px;
                    }

                        .searchInput  {
                            width : 100%;
                            height : 100%;

                            font-size : 16px;

                            border : 0px;
                            color : rgb(49, 49, 49);    

                            border-radius : 9px;
                        }

            .slideMessageScrollDiv {
                width : 100%;
                height : 93%;

                overflow-y: scroll;
            }
                .slideMessageInnerTmpDiv {
                    width : 100%;
                    height : 3%;
                }
                .commonMessageContentDiv {
                    width : 100%;
                    height : 82%;
                    /* margin-top : 8%; */
                }
                    .commonMessageContentHeaderDiv {
                        width : 100%;
                        height : 8%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        /* background-color: yellow; */
                    }
                        .commonMessageContentHeaderDiv div {
                            width : 90%;
                            height : 80%;

                            display : flex;
                            align-items: center;
                            justify-content: left;

                            font-size : 16px;
                        }
                    

                    .messagesOutterDiv {
                        width : 100%;
                        height : 92%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .messagesDiv {
                            width : 91%;
                            height : 100%;
                        }
                            .messageDiv {
                                width : 100%;
                                height : 74px;

                                display : flex;
                                /* display : none; */
                                align-items: center;
                                justify-content: center;

                                position: relative;

                                margin-bottom : 1%;
                            }
                                .messageUserProfileImgDiv {
                                    width : 18%;
                                    height : 100%;

                                    display : flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                    .messageUserProfileImgDiv img {
                                        width : 53px;
                                        height : 53px;

                                        border-radius: 50%;
                                        border : 1px solid gray;
                                    }

                                .messageInfoDiv {
                                    width : 82%;
                                    height : 100%;

                                    display : flex;
                                    align-items: center;
                                    justify-content: center;
                                }

                                    .messageInfoDiv>div {
                                        width : 87%;
                                        height: 100%;
                                    }

                                    .messageUsernameDiv {
                                        width : 100%;
                                        height : 53%;

                                        margin-bottom : 2%;

                                        display : flex;
                                        align-items:flex-end;
                                        justify-content: left;

                                        font-size : 17px;
                                    }

                                    .messageTimeInfoDiv {
                                        width : 100%;
                                        height : 45%;

                                        display : flex;
                                        align-items: baseline;

                                        font-size : 15px;
                                        color : rgb(119, 119, 119);
                                    }

                                .messageFunctionalOutterDiv {
                                    width : 300px;
                                    height : 100%;

                                    /* display : flex; */
                                    display : none;
                                    align-items: center;
                                    justify-content: center;

                                    position : relative;
                                    left : 6%;
                                    background-color: aquamarine;
                                }

                                    .messageFunctionalOutterDiv div {
                                        width : 50%;
                                        height : 100%;
                                    }

                                        .messageFunctionalDiv1 {
                                        }

                                        .messageFunctionalDiv2 {
                                            background-color: red;
                                        }

}