<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="commonLowerMenuBar" class="commonLowerMenuBar">
        <div class="locationClickEventDiv" id="locationClickEventDiv">
            <div class="locationInfoHeaderDiv">
                <div class="locationFravoriteButtonDiv">
                    <i class="fa-solid fa-star"></i>
                </div>
                <div class="locationNameInfoDiv">
                    <p>흥부 저수지</p>
                </div>
                <div class="locationClickDivDelButtonDiv" onclick="locationClickEvent()">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="locationTemperatureOutterDiv">
                <div class="locationTemperatureOutterHeaderDiv">
                    <p>03.06 월 (음 02.15)</p>
                </div>
                <div class="locationTemperatureOutterContentDiv">
                    
                </div>
                <div class="locationTemperatureOutterFunctionalDiv">
                    <div class="locationTemperatureFunctionalButton">
                        환경정보 더보기
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <div class="sunriseTimeDiv">
                        <div>
                            <p>
                                <i class="fa-solid fa-sunrise"></i>
                                06:57
                            </p>
                        </div>
                    </div>
                    <div class="sundownTimeDiv">
                        <p>
                            <i class="fa-solid fa-sunset"></i>
                            06:57
                        </p>
                    </div>
                </div>
            </div>
            <div></div>
            <div></div>
        </div>    
        <div class="commonLowerMenuBarOutterDiv">
            <div class="commonLowerMenuBarDiv">
                <div>
                    <a th:href="@{/}"><i class="fa-solid fa-house"></i></a>
                </div>
                <div>
                    <a th:href="@{/fish}"><i class="fa-solid fa-fish"></i></a>
                </div>
                <div>
                    <a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div>
                    <a th:href="@{/post}"><i class="fa-regular fa-square-plus"></i></a>
                </div>
                <div>
                    <a th:href="@{/map}"><i class="fa-solid fa-map"></i></a>
                </div>
                <div>
                    <a th:href="@{/mypage}"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </div>
    
</html>