<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <div th:fragment="commonLowerMenuBar" class="commonLowerMenuBar">
        <div class="commonLowerMenuBarOutterDiv">
            <div class="commonLowerMenuBarDiv">
                <div>
                    <a th:href="@{/}"><i class="fa-solid fa-house"></i></a>
                </div>
                <!-- <div>
                    <a th:href="@{/fish}"><i class="fa-solid fa-fish"></i></a>
                </div> -->
                <div>
                    <a th:href="@{/search}"><i class="fa-solid fa-magnifying-glass"></i></a>
                </div>
                <div>
                    <a th:href="@{/post}"><i class="fa-regular fa-square-plus"></i></a>
                </div>
                <div>
                    <a th:href="@{/shorts}"><i class="fa-solid fa-circle-play"></i></a>
                </div>
                <!-- <div>
                    <a th:href="@{/map}"><i class="fa-solid fa-map"></i></a>
                </div> -->
                <div>
                    <a th:href="@{/mypage}"><i class="fa-solid fa-user"></i></a>
                </div>
            </div>
        </div>
    </div>
    
</html>