<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings/layout/main/mainPageLayout}">

    <head>
        <title>누누강 메인페이지</title>
    </head>
      
    <body>
        <div layout:fragment="postsBar">
            <div class="mainPageOutterDiv">
                <div class="storyBarOutterDiv">
                    <div class="storyBarDiv">
                        <div class="myStoryDiv" onclick="test()">
                            <div class="myStoryImgDiv">
                                <div class="myStoryImgBorderDiv">
                                    <div class="myStoryImg" id="myStoryImg"
                                    th:style="'background-image:url('+@{images/test2.png}+');'"></div>
                                    <input class="myStoryImgInput" id="myStoryImgInput" type="file" onchange="test2()">
                                </div>

                                <div class="myStoryPlusButtonDiv">
                                    <div class="myStoryPlusButton changeColorObj2"></div>
                                </div>

                            </div>
                            <div class="myStoryTextDiv">
                                <p>내 스토리</p>
                            </div>
                        </div>

                        <div class="followingStoryDiv" th:each="n : ${#numbers.sequence(1,7)}">
                            <div class="followingStoryImgDiv">
                                <div class="followingStoryImgBorderDiv">
                                    <div class="followingStoryImg" id="followingStoryImg"
                                    th:style="'background-image:url('+@{images/test2.png}+');'"></div>
                                </div>
                            </div>
                            <div class="followingStoryTextDiv">
                                <p>testsdagsgsa</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="postsBarOutterDiv">
                    <div class="postsBarDiv">


                        <div class="postDiv" th:each="n : ${#numbers.sequence(1,4)}">

                            <div class="postHeaderOutterDiv"> 
                                <div class="postHeaderUserProfileImgDiv">
                                    <img th:src="@{/images/test2.png}">
                                </div>
                                <div class="postHeaderUsernameNLocationOutterDiv">
                                    <div class="postHeaderUsernameDiv">
                                        <p>simjungh</p>
                                    </div>
                                    <div class="postHeaderLocationDiv">
                                        <p>서울특별시 중랑구 망우동</p>
                                    </div>
                                </div>
                                <div class="postHeaderFunctionalOutterDiv">
                                    <div class="postHeaderFunctionalDiv" onclick="showPostInfoDiv()">
                                        <i class="fa-solid fa-ellipsis"></i>
                                    </div>
                                </div>

                            </div>


                            <div class="postContentOutterDiv"> 
                                <div class="postContentInnerImgDiv">
                                    <img th:src="@{/images/test2.png}">
                                </div>
                                <div class="postContentFunctionalDiv">
                                    <div class="postContentFunctionalMainDiv">
                                        <a><i class="fa-sharp fa-regular fa-heart"></i></a>
                                        <a><i class="fa-regular fa-comment"></i></a>
                                    </div>
                                    <div class="postContennFunctionalImgSlideDiv"></div>
                                    <div class="postContentFunctionalFavoritesDiv">
                                        <a><i class="fa-regular fa-bookmark"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="postCommentsOutterDiv"> 
                                <div class="postCommentInnerDiv">
                                    <div class="postCommentsFunctionalDiv">
                                        <div class="postCommentFunctionalInnerDiv">
                                            <div class="postLikeUserProfileDiv">
                                                <img class="fstUserProfile" th:src="@{/images/test2.png}">
                                                <div class="secUserProfileDiv">
                                                    <img class="secUserProfile" th:src="@{/images/test2.png}">
                                                </div>
                                                <div class="trdUserProfileDiv">
                                                    <img class="trdUserProfile" th:src="@{/images/test2.png}">
                                                </div>
                                            </div>
                                            <div class="postLikeUserTextDiv">
                                                <p><span>simjungh</span>님 외 <span>여러 명</span>이 좋아합니다</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="postWriterUserCommentDiv">
                                        <div class="postWriterUserCommentInnerDiv">
                                            <p> 
                                                <span>simjungh </span><a th:href="@{/test}"><span>asdgasdgsadgsadg asdgasdgasgdsadfasfasffasdf</span></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="postCommentsDiv">
                                        <div class="postCommentsInnerDiv">
                                            <div class="commentFunctionalDiv">
                                                <p>댓글 15개 더보기</p>
                                            </div>
                                            <div class="postCreatedDateDiv">
                                                <p>4일전</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </body>
    
</html>