<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings/layout/main/mapPageLayout}">

      <!-- <link id="appKey" th:data-contextPath="${@environment.getProperty('google_map_secret_key')}"/> -->
    <head>
        <title>누누강 메인페이지</title>

        <th:block th:replace="settings/config/main/mapPageLayoutConfig :: mapPageLayoutConfig"></th:block>
    </head>
      
    
    <body>
        <div layout:fragment="commonContentDiv" class="commonContentDiv">
                <div class="googleMapDiv" id="googleMapDiv"></div>
        </div>
    </body>
    
</html>