<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{settings/layout/main/myPageLayout}">

    <head>
        <title>누누강 메인페이지</title>
    </head>
      
    <body>
        <div layout:fragment="mypageLayoutDiv" class="myPageOutterDiv">
            <div class="mypageScrollOutterDiv">
                <div class="userProfileDiv">
                    <div class="userProfileMainDiv">
                        <div class="userInfoDiv1">
                            <div class="userProfileImgInnerDiv">
                                <img th:src="@{/images/test2.png}">
                                <div class="userProfileImgPlusButtonDiv">
                                    <div class="userProfileImgPlusButton"></div>
                                </div>
                            </div>
                            <div class="userPostNFollowInfoDiv">
                                <div class="powerPostNFollowTextOutterDiv">
                                    <div class="powerPostNFollowText1">
                                        0
                                    </div>
                                    <div class="powerPostNFollowText2">
                                        게시물
                                    </div>
                                </div>
                                <div class="powerPostNFollowTextOutterDiv">
                                    <div class="powerPostNFollowText1">
                                        <p>54</p>
                                    </div>
                                    <div class="powerPostNFollowText2">
                                        <p>팔로워</p>
                                    </div>
                                </div>
                                <div class="powerPostNFollowTextOutterDiv">
                                    <div class="powerPostNFollowText1">
                                        <p>34</p>
                                    </div>
                                    <div class="powerPostNFollowText2">
                                        <p>팔로잉</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="userInfoDiv2">
                            <div class="usernameDiv">
                                <div class="usernameTextDiv">
                                    testtesttesttesttesttest
                                </div>
                                <div class="usernameFunctionalDiv">
                                    <p id="userIntroduceDivClosedButton"><i class="fa-solid fa-chevron-up"></i></p>
                                    <!-- <p id="userIntroduceDivAppearedButton"><i class="fa-solid fa-chevron-down"></i></p> -->
                                </div>
                            </div>
                            <div class="userIntroduceDiv">
                                <div>
                                    testtestvt esttestte stt estte sttestte stt estt estvtes ttes ttes ttesttestte sttesttesttestvtesttesttesttesttest testtest testtestvtestte stt estte sttesttesttest
                                    testtestvtesttesttesttestte sttestte sttesttestvtesttes ttes ttesttestte sttesttesttestvtesttesttesttesttest testtest testtestvtestte stt estte sttesttesttest
                                    testtestvtesttesttesttestte sttestte sttesttestvtesttes ttes ttesttestte sttesttesttestvtesttesttesttesttest testtest testtestvtestte stt estte sttesttesttest
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="userProfileFunctionalDiv">
                    <div class="userProfileFunctionButton1">
                        프로필 편집
                    </div>
                    <div class="userProfileFunctionButton1">
                        프로필 공유
                    </div>
                    <div class="userProfileFunctionButton2">
                        <i class="fa-solid fa-user-plus"></i>
                    </div>
                </div>
                <div class="recommendUsersDiv">
                    <div class="recommendUsersTextDiv">
                        <div class="recommendUsersTextInnerDiv">
                            <p>사람 찾아보기</p>
                        </div>
                        <div class="recommendUsersTextFunctionalDiv">
                            <p>모두 보기</p>
                        </div>
                    </div>
                    <div class="recommendUserOutterDiv">
                        <div class="recommendUsersInnerDiv">
                            <div class="recommendUserDiv"  th:each="n : ${#numbers.sequence(1,4)}" >
                                <div class="recommendUserDeleteDiv">
                                    <div></div>
                                </div>
                                <div class="recommendUserProfileImgDiv">
                                    <img th:src="@{/images/test2.png}">
                                </div>
                                <div class="recommendUsernameDiv">
                                    성희
                                </div>
                                <div class="recommentUserIntroDiv">
                                    <div>
                                        woois_ji님 외 3 명이 팔로우합니다.
                                    </div>
                                </div>
                                <div class="recommentUserFollowDiv">
                                    <div>팔로우</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="storyHilightDiv">
                    <div class="storyHilightHeaderDiv">
                        <div class="storyHilightHeaderTextDiv">
                            <div class="storyHilightHeaderText1">
                                <p>스토리 하이라이트</p>
                                
                            </div>
                            <div class="storyHilightHeaderText2">
                                <p>좋아하는 스토리를 프로필에 보관해보세요</p>
                            </div>
                        </div>
                        <div class="storyHilightHeaderFunctionalDiv">
                            <p><i class="fa-solid fa-chevron-up"></i></p>
                        </div>
                    </div>
                    <div class="storyHilightContentOutterDiv">
                        <div class="storyHilightContentDiv">
                            <div class="storyCreateOutterDiv">
                                <div>
                                    <div class="storyCreateButtonOutterDiv">
                                        <div class="storyCreateButton"></div>
                                    </div>
                                    
                                    <div class="storyCreateTextDiv">
                                        <p>새로 만들기</p>
                                    </div>
                                </div>
                                
                                <div th:each="n : ${#numbers.sequence(1,5)}" >
                                    <div class="storyListImgDiv">
                                        <div class="storyListImg"></div>
                                    </div>
                                    
                                    <div class="storyListTextDiv">
                                        <!-- <p>test</p> -->
                                    </div>
                                </div>    
                            </div>
                            

                        </div>
                        

                    </div>
                </div>
                <div class="userPostsDiv">
                    <div class="userPostsHeaderDiv" >
                        <div class="usersPostsHeaderDiv"  onclick="showUserPosts()">
                            <p><i class="fa-sharp fa-solid fa-table-cells"></i></p>
                        </div>
                        <div class="userTagedPostsHeaderDiv" onclick="showUserTagedPosts()">
                            <p><i class="fa-solid fa-users"></i></p>
                        </div>
                    </div>
                    <div class="userPostsContentDiv">
                        <div>
                            <div class="userPostRowDiv">
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                            
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                       
                            </div>
                            <div class="userPostRowDiv">
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                          
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                          
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                      
                            </div>
                            <div class="userPostRowDiv postsImgs">
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                     
                            
                            </div>
                        </div>
                        
                    </div>
                    <div class="userTagedPostsContentDiv">
                        <div>
                            <div class="userPostRowDiv">
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                            
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                       
                            </div>
                            <div class="userPostRowDiv">
                                <div>
                                    <img th:src="@{/images/test2.png}">
                                </div>                          
                                <div>
                                    <!-- <img th:src="@{/images/test2.png}"> -->
                                </div>                          
                                <div>
                                    <!-- <img th:src="@{/images/test2.png}"> -->
                                </div>                      
                            </div>
                            <div class="userPostRowDiv postsImgs">
                                <div>
                                    <!-- <img th:src="@{/images/test2.png}"> -->
                                </div>                     
                            
                            </div>
                        </div>
                        
                    </div>

                </div>

                
            </div>


        </div>
    </body>
    
</html>