<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">

    <th:block th:replace="settings/config/pages/accounts/signup/signupPageConfig :: signupPageConfig"></th:block>
    
</head>
<body>

    <div th:replace="settings/fragments/pages/accounts/signup/header/header :: header"></div>

    <div class="content" layout:fragment="content"></div>

    <div th:replace="settings/fragments/pages/accounts/signup/footer/footer :: footer"></div>

</body>
</html>