<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <th:block th:replace="settings/config/main/mainPageLayoutConfig :: mainPageLayoutConfig"></th:block>
</head>
<body>


    <th:block th:replace="settings/fragments/slide/messagePage :: messagePage"></th:block>
    <th:block th:replace="settings/fragments/slide/alertPage :: alertPage"></th:block>

    <div class="slideMainOutterDiv">

        <div class="slideMainDiv">
            <th:block th:replace="settings/fragments/upperMenu/mainPageUpperMenuBar :: mainPageUpperMenuBar"></th:block>
        
            <th:block layout:fragment="postsBar"></th:block>
            
            <th:block th:replace="settings/fragments/lowerMenu/common/commonLowerMenuBar :: commonLowerMenuBar"></th:block>

            <!-- postInfoSlideDiv -->
            <div class="postInfoDivInSlideMainDiv changeColorObj" onclick="showPostInfoDiv()">
                <div class="postInfoGapDiv changeColorObj">
                    <div class="changeColorObj2"></div>
                </div> 
                <div class="postInfoButton1Div postButtonDiv">
                    <div>
                        <div class="postInfoButton1DivButton1 changeColorObj2">
                            <div class="postInfo1IconDiv">
                                <i class="fa-solid fa-arrow-up-from-bracket"></i>
                            </div>
                            <div class="postInfo1TextDiv">
                                <p>공유</p>
                            </div>
                        </div>
                        <div class="postInfoButton1DivButton2 changeColorObj2">
                            <div class="postInfo1IconDiv">
                                <i class="fa-regular fa-bookmark"></i>
                            </div>
                            <div class="postInfo1TextDiv">
                                <p>저장</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="postInfoButton2Div postButtonDiv">
                    <div class="changeColorObj2">
                        <div class="postInfo2IconDiv">
                            <i class="fa-solid fa-user-minus"></i>
                        </div>
                        <div class="postInfo2TextDiv">
                            <p>팔로우 취소</p>
                        </div>
                    </div>
                </div>
                <div class="postInfoButton3Div postButtonDiv">
                    <div class="changeColorObj2">
                        <div class="postInfo2IconDiv postInfoReportDiv">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </div>
                        <div class="postInfo2TextDiv postInfoReportDiv">
                            <p>신고</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
    </div>
    

    

</body>
</html>