<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <head>

        <th:block th:fragment="commonLayoutConfig">

            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/common.css}" >
            
            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/upperMenu/commonUpperMenuBar.css}" >
            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/lowerMenu/commonLowerMenuBar.css}" >

            <link rel="stylesheet" th:href="@{/css/settings/fragments/slide/alert.css}" >
            <link rel="stylesheet" th:href="@{/css/settings/fragments/slide/message.css}" >

            <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
            <script th:src="@{/js/settings/fragments/commonUpperMenuBar.js}"></script>


            <!-- font-awesome CDN -->
            <script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
            <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        </th:block>
    </head>

</html>