<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <head>

        <th:block th:fragment="commonLayoutConfig">

            <!-- css -->
            <!-- <link rel="stylesheet" th:href="@{/css/layout/fragments/header.css}" >
            <link rel="stylesheet" th:href="@{/css/layout/fragments/footer.css}" >
            <link rel="stylesheet" th:href="@{/css/layout/theOtherLayout.css}" >
            <link rel="stylesheet" th:href="@{/css/font/font.css}" > -->

            <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
            <!-- <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script> -->

        </th:block>
    </head>

</html>