<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <head>

        <th:block th:fragment="commonLayoutConfig">

            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/commonUpperMenuBar.css}" >
            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/commonLowerMenuBar.css}" >

            <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>
            <script th:src="@{/js/settings/fragments/commonUpperMenuBar.js}"></script>

        </th:block>
    </head>

</html>