<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sodipodi="http://java.sun.com/xml/ns/j2ee"
        xmlns:inkscape="http://java.sun.com/xml/ns/javaee"
        layout:decorate="~{settings/layout/pages/accounts/login/accountsLoginLayout}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>누누강 : 메인페이지</title>

    <th:block th:replace="settings/config/pages/accounts/login/loginPageConfig :: loginPageConfig"></th:block>

</head>
<body>

    <div layout:fragment="content">
        <div>
            <div class="loginFunctionalDiv">
                <form method="POST" action="/api/v4/accounts/login">
                    <div class="loginInputsDiv">
                        <div class="emailInputDiv">
                            <input placeholder="아이디" id="email" name="email">
                        </div>
                        <div class="passwordInputDiv">
                            <input type="password" placeholder="비밀번호" id="password" name="password">
                        </div>
                    </div>
                    <div class="loginButtonOutterDiv">
                        <div class="findUserTextInfo">
                            <div>
                                <p>
                                    <span>
                                        아이디 찾기 / 비밀번호 찾기
                                    </span>    
                                </p>
                            </div>
                        </div>
                        <div class="errorMessageDiv" th:if="${errorMessage != null}">
                            <p class="errorMessage" th:text="${errorMessage}"></p>
                        </div>

                        <div class="loginButtonDiv">
                            <div class="loginButton">
                                <button>로그인</button>
                            </div>
                        </div>    
                    </div>
                </form>
            </div>
            <!-- <div class="socailLoginButtonDiv">
                <div class="loginButton nunugramLoginButton"> 
                    <div class="loginButtonImgDiv">
                        <img th:src="@{/images/nunukangLogo/small_logo.png}">
                    </div>
                    <div class="loginButtonTextDiv">
                        <p>Nunugram 로 계속하기</p>
                    </div>
                </div>  
    
    
                <div class="loginButton kakaoLoginButton"> 
                    <div class="loginButtonImgDiv">
    
                    </div>
                    <div class="loginButtonTextDiv">
                        <p>Kakao 로 계속하기</p>
                    </div>
                </div>
            </div>
             -->



            
            
        </div>
    </div>


</body>
</html>
