<html lagn="ko" xmlns:th="http://www.thymeleaf.org"></html>

    <div th:fragment="alertPage">
        <div class="commonAlertOutterDiv">
            <div class="commonAlertHeaderOutterDiv" >
                <div class="commonAlertHeaderFunctionalDiv">
                    <p id="closeAlertDivButton"><span><i class="fa-solid fa-angle-left"></i> 알림</span></p>
                </div> 
                <div class="commonAlertHeaderSubDiv">
                    <!-- <div class="commonMessageHeaderInnerSubDiv1">test</div> -->
                    <!-- <div class="commonMessageHeaderInnerSubDiv2">test</div> -->
                </div>
            </div>
            <div class="commonAlertScrollDiv">
                <div class="commonAlertContentDiv">
                    <div class="commonAlertContentIconDiv">
                        <div class="theme">
                            <i class="fa-solid fa-user-plus"></i>
                        </div>
                    </div>
                    <div class="commonAlertContentTextDiv">
                        <div>
                            <div class="commonAlertContentText1">
                                <p>팔로우 요청</p>
                            </div>
                            <div class="commonAlertContentText2">
                                <p>요청을 승인하거나 무시합니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>