<html lagn="ko" xmlns:th="http://www.thymeleaf.org"></html>

    <div th:fragment="messagePage">
        <div class="slideMessageDiv">
        
            <div class="commonMessageHeaderOutterDiv">
                <div class="commonMessageHeaderFunctionalDiv">
                    <p id="closeMessageDiv"><span><i class="fa-solid fa-angle-left"></i> simjungh</span></p>
                </div> 
                <div class="commonMessageHeaderSubDiv">
                    <!-- <div class="commonMessageHeaderInnerSubDiv1">test</div>
                    <div class="commonMessageHeaderInnerSubDiv2">test</div> -->
                </div>
            </div>
            <div class="slideMessageScrollDiv">
                <div class="commonUserSearchOutterDiv">
                    <div class="userSearchDiv">
                        <div class="searchIconDiv">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="searchInputDiv">
                            <input type="text" class="searchInput" placeholder="검색">
                        </div>
                    </div>
                </div>
                <div class="slideMessageInnerTmpDiv"></div>
                <div class="commonMessageContentDiv">
                    <div class="commonMessageContentHeaderDiv">
                        <div>
                            <p>메시지</p>
                        </div>
                    </div>
                    <div class="messagesOutterDiv">
                        <div class="messagesDiv">
                            <div class="messageDiv" th:each="n : ${#numbers.sequence(1,11)}">
                                <div class="messageUserProfileImgDiv">
                                    <img th:src="@{/images/test2.png}">
                                </div>
                                <div class="messageInfoDiv">
                                    <div>
                                        <div class="messageUsernameDiv">
                                            <p>simjungh</p>
                                        </div>
                                        <div class="messageTimeInfoDiv">
                                            <p>14분 전 전송됨</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="messageFunctionalOutterDiv">
                                    <div class="messageFunctionalDiv1"></div>
                                    <div class="messageFunctionalDiv2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
            </div>
    
        </div>
    </div>

</html>