<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div th:fragment="footer" class="footerOuterDiv">
        <div>
            
            <div class="footerTextDiv">
                <div>
                    <p>누누강 회원가입에 사용된 개인정보는</p>
                    <p>유저분들의 원활한 서비스 제공을 해드리기 위해 사용됩니다.</p>
                </div>
            </div>
        
            <div class="footerButtonDiv">
                <a th:href="@{/}">
                    <button class="footerButton1">누누강 사용법</button>
                </a>
                
                <a th:href="@{/accounts/signup}">
                    <button class="footerButton2">회원가입</button>
                </a>
            </div>
            
            


        </div>
    </div>
</body>
</html>
