@charset "UTF-8";


@media (prefers-color-scheme: light) {
    body {
        background: white;
        color: black;
    }

    a {
        color : black;
    }

    .commonAlertOutterDiv {
        background-color: white;
    }

    .slideMessageDiv {
        background-color: white;
    }

    .theme {
        color: black;
        border-color : black;
    }

    .changeColorObj {
        background-color: white;
    }

    .searchIconDiv {
        color : white;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: black;
        color: white;
        -ms-overflow-style: none;
    }

    a {
        color : white;
    }

    .commonAlertOutterDiv {
        background-color: black;
    }

    .slideMessageDiv {
        background-color: black;
    }

    .theme {
        color: white;
        border-color : white;
    }

    .changeColorObj {
        background-color: rgb(49, 49, 49);
    }

    .searchIconDiv {
        color :rgb(129, 128, 128);
    }

    .searchInput {
        color : white;
        border : 0px;
        background-color: rgb(49, 49, 49);
    }
}




@media ( max-width: 768px ) {

    * {
        margin: 0px;
        padding: 0px;

        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    ul, ol {
        list-style: none;
    }
    
    a {
         text-decoration:none;
    }
    
    a:hover { text-decoration:none; }
    a:link 

    body {
        width : 100vw;
        height : 100vh;
    
    }



    .slideMainOutterDiv {
        width : 100vw;
        height : 100%;

        display : flex;
    }

        .slideMainDiv {
            width : 100%;
            height : 100%;

            /* display : none; */
        }


        

            .slideMessageDiv {
                width : 100vw;
                height : 100vh;

                position : absolute;
                right : 0px;

                float:right;

                display : none;
                z-index: 100;
            }


                .commonMessageHeaderOutterDiv {
                    width : 100%;
                    height : 8%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                
                
                    .commonMessageHeaderFunctionalDiv {
                        width : 65%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .commonMessageHeaderFunctionalDiv p {
                            width : 80%;
                            height : 90%;

                            display : flex;
                            align-items:flex-end;
                            justify-content: left;

                            font-size : 25px;
                            font-weight: 400;
                        }


                    .commonMessageHeaderSubDiv {
                        width : 35%;
                        height : 100%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .commonMessageHeaderInnerSubDiv1 {
                            width : 50%;
                            height : 100%;

                            display : flex;
                            align-items: center;
                            justify-content: right;
                        }

                        .commonMessageHeaderInnerSubDiv2 {
                            width : 50%;
                            height : 100%;

                            display : flex;
                            align-items: center;
                            justify-content: center;
                        }




                .commonUserSearchOutterDiv {
                    width : 100%;
                    height : 7%;
                    
                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                    .commonUserSearchOutterDiv>div {
                        width : 92%;
                        height : 60%;

                        margin-top : 3%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 9px;
                    }

                        .searchIconDiv {
                            width : 13%;
                            height : 100%;

                            display : flex;
                            align-items: center;
                            justify-content: center;

                            font-size : 19px;
                        }

                        .searchInputDiv {
                            width : 87%;
                            height : 100%;

                            display : flex;
                            align-items: center;
                            justify-content: center;

                            border-radius : 0px 9px 9px 0px;
                        }

                            .searchInputDiv input {
                                width : 100%;
                                height : 100%;

                                font-size : 16px;

                                border-radius : 9px;
                            }


                .slideMessageInnerTmpDiv {
                    width : 100%;
                    height : 3%;
                }
                .commonMessageContentDiv {
                    width : 100%;
                    height : 82%;
                    /* margin-top : 8%; */
                }
                    .commonMessageContentHeaderDiv {
                        width : 100%;
                        height : 8%;

                        display : flex;
                        align-items: center;
                        justify-content: center;

                        /* background-color: yellow; */
                    }
                        .commonMessageContentHeaderDiv div {
                            width : 90%;
                            height : 80%;

                            display : flex;
                            align-items: center;
                            justify-content: left;

                            font-size : 16px;
                        }
                    

                    .messagesOutterDiv {
                        width : 100%;
                        height : 92%;

                        display : flex;
                        align-items: center;
                        justify-content: center;
                    }

                        .messagesDiv {
                            width : 91%;
                            height : 100%;


                            background-color: red;
                        }
                            .messageDiv {
                                width : 100%;
                                height : 78px;

                                display : flex;
                                align-items: center;
                                justify-content: center;

                                background-color: aqua;

                                position: relative;
                            }
                                .messageUserProfileImgDiv {
                                    width : 22%;
                                    height : 100%;

                                    display : flex;
                                    align-items: center;
                                    justify-content: center;
                                    
                                    background-color: blueviolet;
                                }

                                    .messageUserProfileImgDiv img {
                                        width : 64px;
                                        height : 64px;

                                        border-radius: 50%;
                                        border : 1px solid black;
                                    }

                                .messageInfoDiv {
                                    width : 78%;
                                    height : 100%;
                                    background-color: antiquewhite;
                                }



    /* alertDiv */
    .commonAlertOutterDiv {
        width : 100vw;
        height : 100vh;

        float : right;
        display : none;
        position : absolute;
        right : 0px;

        z-index: 100;
    }



        /*  */
        .commonAlertHeaderOutterDiv {
            width : 100%;
            height : 8%;

            display : flex;
            align-items: center;
            justify-content: center;
        }

        
        
            .commonAlertHeaderFunctionalDiv {
                width : 65%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .commonAlertHeaderFunctionalDiv p {
                    width : 80%;
                    height : 90%;

                    display : flex;
                    align-items:flex-end;
                    justify-content: left;

                    font-size : 25px;
                    font-weight: 400;
                }

                /* .commonMessageHeaderTextDiv p {
                    width : 90%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: left;

                    font-size : 25px;
                    font-weight: 400;

                    margin-top : 6%;
                } */

            .commonAlertHeaderSubDiv {
                width : 35%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

                .commonAlertHeaderInnerSubDiv1 {
                    width : 50%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: right;
                }

                .commonAlertHeaderInnerSubDiv2 {
                    width : 50%;
                    height : 100%;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                }


        .commonAlertContentDiv {
            width : 100%;
            height : 10%;
            margin-top : 1%;

            display : flex;
            align-items: center;
            justify-content: left;
        }

            .commonAlertContentIconDiv {
                width : 24%;
                height : 94%;

                display : flex;
                align-items: center;
                justify-content: right;

                margin-top : 3%;
            }

                .commonAlertContentIconDiv div {
                    width : 64px;
                    height : 64px;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                    
                    border-radius: 50%;

                    font-size : 29px;

                    border-width: 1px;
                    border-style: solid;
                    /* background-color: blue; */
                }

            .commonAlertContentTextDiv {
                width : 76%;
                height : 97%;
                
                
                display : flex;
                align-items: center;
                justify-content: right;

                margin-top : 3%;
            }

                .commonAlertContentTextDiv>div {
                    width : 95%;
                    height : 100%;
                }

                .commonAlertContentText1 {
                    width : 100%;
                    height : 63%;

                    font-size : 18px;

                    display : flex;
                    align-items: center;
                    justify-content: left;
                    /* background-color: aqua; */
                }

                .commonAlertContentText2 {
                    width : 100%;
                    height : 5%;
                    
                    font-size : 14px;

                    display : flex;
                    align-items: center;
                    justify-content: left;
                    /* background-color: yellow; */
                }









}