<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

    <head>

        <th:block th:fragment="mainPageLayoutConfig">

            <!-- common css -->
            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/common.css}" >

            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/commonUpperMenuBar.css}" >
            <link rel="stylesheet" th:href="@{/css/settings/fragments/common/commonLowerMenuBar.css}" >
            
            <!-- page css -->
            <link rel="stylesheet" th:href="@{/css/pages/main/main.css}" >


            <!-- JQuery -->
            <script th:src="@{/jquery/jquery-3.6.0.min.js}"></script>

            <!-- JS -->
            <script th:src="@{/js/settings/fragments/commonUpperMenuBar.js}"></script>
            
            
            <script th:src="@{/js/pages/main/main.js}"></script>

            
            <!-- font-awesome CDN -->
            <script src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"></script>
            <script src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
        
        </th:block>
    </head>

</html>