@media (prefers-color-scheme: light) {
  .myStoryPlusButton {
    border : 4px solid white;
    color : white;
  }

  .changeColorObj {
      background: white;
  }

  .changeColorObj2 {
    background-color: rgb(224, 224, 224);
  }


    .commonAlertOutterDiv {
        background-color: white;
    }

        .commonAlertContentDiv {
            border-bottom : 1px solid rgb(205, 205, 205);
        }

    .slideMessageDiv {
        background-color: white;
    }

    .theme {
        color: black;
        border-color : black;
    }

    .changeColorObj {
        background-color: white;
    }

    .userSearchDiv {
        background-color :rgb(205, 205, 205);
        color : rgb(28, 28, 28);     
    }

    .searchInput {
        background-color :rgb(205, 205, 205);
        color : black !important;
    }
    

    .messageFunctionalDiv1 {
        background-color :rgb(205, 205, 205);
    }

}

@media (prefers-color-scheme: dark) {

  .myStoryPlusButton {
    border : 4px solid black;
    color : black;
  }

  .changeColorObj {
    background-color: rgb(49, 49, 49);
  }

  .changeColorObj2 {
    background-color: rgb(93, 93, 93);
  }


  .commonAlertOutterDiv {
    background-color: black;
  }

    .commonAlertContentDiv {
        border-bottom : 1px solid rgb(49, 49, 49);
    }

  .slideMessageDiv {
      background-color: black;
  }

  .theme {
      color: white;
      border-color : white;
  }

  .changeColorObj {
      background-color: rgb(49, 49, 49);
  }

  .searchIconDiv {
      color :rgb(98, 96, 96);
  }


  .searchInput {
      border : 0px;
      background-color : rgb(49, 49, 49);
      color : white !important;
  }

  .userSearchDiv {
      background-color: rgb(49, 49, 49);
  }


  .messageFunctionalDiv1 {
      background-color : rgb(49, 49, 49);
  }

}


@media ( max-width: 768px ) {

  .mainPageOutterDiv {
    width : 100vw;
    height : 83vh;

    overflow-y : auto;
  }

  .mainPageOutterDiv::-webkit-scrollbar{
    display:none;
  }
  
  /* story */
  .storyBarOutterDiv {
    width : 100vw;
    height : 15vh;
    
    display : flex;
    align-items: center;
    justify-content: center;

    border-bottom : 1px solid rgb(29, 29, 29);
  }

    .storyBarDiv {
      width : 100%;
      height : 100%;

      display : flex;
      align-items: center;
      justify-content: left;

      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    .storyBarDiv::-webkit-scrollbar{
      display:none;
    }

      .myStoryDiv {
        width : 93px;
        height : 100%;
      }

        .myStoryImgDiv {
          width : 100%;
          height : 78%;

          display : flex;
          align-items: center;
          justify-content: center;

          /* background-color: yellow; */

          position: relative;
        }

          .myStoryImgBorderDiv {
            width : 60px;
            height : 60px;

            display : flex;
            align-items: center;
            justify-content: center;

            border: 3px solid transparent;
            border-radius: 50%;
            background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
            background-origin: border-box;
            background-clip: content-box, border-box;
          }


            .myStoryImg {
              width :100%;
              height : 100%;

              background-repeat : no-repeat;
              background-size : cover;

              border-radius: 50%;
            }

            .myStoryImgInput {
              display : none;
            }

        .myStoryPlusButtonDiv {
          width : 0%;
          height : 0%;

          position: relative;
        }
        
          .myStoryPlusButton {
            width : 22px;
            height : 22px;

            z-index: 2;
            background-color: rgb(83, 151, 247);

            border-radius: 50%;
            position: relative;
            top : 7px;
            right : 25px;

            display : flex;
            align-items: center;
            justify-content: center;
          } 

          .myStoryPlusButton:after {
            content : "+";

            font-size : 22px;
            margin-top : 2px;
          }


        .myStoryTextDiv {
          width : 100%;
          height : 22%;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size : 11px;
        }


      .followingStoryDiv {
        width : 93px !important;
        height : 100%;


        flex: 0 0 auto;
      }

        .followingStoryImgDiv {
          width : 100%;
          height : 78%;

          display : flex;
          align-items: center;
          justify-content: center;

          /* background-color: yellow; */

          position: relative;
        }

          .followingStoryImgBorderDiv {
            width : 66px;
            height : 66px;

            display : flex;
            align-items: center;
            justify-content: center;

            border: 3px solid transparent;
            border-radius: 50%;
            background-image: linear-gradient(#444444, #444444), linear-gradient(to right, #fbfcb9be, #ffcdf3aa, #65d3ffaa);
            background-origin: border-box;
            background-clip: content-box, border-box;
          }


          .followingStoryImg {
            width :100%;
            height : 100%;

            background-repeat : no-repeat;
            background-size : cover;

            border-radius: 50%;
          }

        .followingStoryTextDiv {
          width : 100%;
          height : 22%;

          display: flex;
          align-items: center;
          justify-content: center;

          font-size : 14px;
        }




  /* posts */
  .postsBarOutterDiv {
    width : 100vw;

    height : 89vh;
    /* height : 52vh; */
  } 

    .postsBarDiv {
      width : 100%;
      height : 100%;
    }

      /* post */
      .postDiv {
        width : 100%;
        height : 585px;

        margin-bottom : 8px;
      }

        .postHeaderOutterDiv {
          width : 100%;
          height : 10%;

          display :flex;
          align-items: center;
          justify-content: center;
        }

          .postHeaderUserProfileImgDiv {
            width : 18%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: center;
          }

          .postHeaderUserProfileImgDiv img {
            width : 36px;
            height : 36px;

            border : 2px solid rgb(75, 75, 75);
            border-radius: 50%;
          }

          .postHeaderUsernameNLocationOutterDiv {
            width : 65%;
            height : 100%;
          }

          .postHeaderUsernameNLocationOutterDiv p {
            width : 100%;
            height : 55%;

            /* margin : auto; */
          }

          .postHeaderUsernameDiv{
            width : 100%;
            height : 45%;
            
            font-size : 16px;

            display : flex;
            align-items :end;
            justify-content : center;
          }

          .postHeaderLocationDiv{
            width : 100%;
            height : 55%;

            font-size : 11px;

            display : flex;
            align-items: center;
            justify-content: center;
          }


          .postHeaderFunctionalOutterDiv {
            width : 17%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: center;
          }

          .postHeaderFunctionalDiv {
            width : 100%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: center;

            font-size : 25px;
          }

        .postContentOutterDiv {
          width : 100%;
          height : 72%;
        }

          .postContentInnerImgDiv {
            width : 100%;
            height : 90%;
          }

          .postContentInnerImgDiv img {
            width : 100%;
            height : 100%;
          }

          .postContentFunctionalDiv {
            width : 100%;
            height : 12%;

            margin-left : 1%;

            display : flex;
            align-items: center;
            justify-content: center;
          }

          .postContentFunctionalMainDiv {
            width : 38%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: left;

            font-size : 34px;
          }

          .fa-heart {
            margin-left : 16px;
            margin-top : 5px;
          }
        
          .fa-comment {
            margin-left : 9px;
            margin-top : 5px;
          }

          .postContennFunctionalImgSlideDiv {
            width : 24%;
            height : 100%;
          }

          .postContentFunctionalFavoritesDiv {
            width : 37%;
            height : 100%;

            margin-right : 1%;

            display : flex;
            align-items: center;
            justify-content: right;

            font-size : 28px;
          }

            .postContentFunctionalFavoritesDiv a {
              margin-right : 14px;
              margin-top : 5px;

            }

        .postCommentsOutterDiv {
          width : 100%;
          height : 18%;
        }

          .postCommentInnerDiv {
            width : 100%;
            height : 100%;
          }

            .postCommentsFunctionalDiv {
              width : 100%;
              height : 36%;

              display : flex;
              align-items: center;
              justify-content: center;
            }


              .postCommentFunctionalInnerDiv {
                width : 94%;
                height : 100%;

                display : flex;
              }

                .postLikeUserProfileDiv {
                  width : 17%;
                  height : 100%;
                
                  
                  margin-left : 2%;

                  position : relative;
                }

                .postLikeUserProfileDiv img {
                  width : 23px;
                  height : 23px;

                  border : 2px solid black;
                  border-radius: 50%;
                }

                .fstUserProfile  {
                  margin-top : 5px;
                }
                .secUserProfileDiv {
                  width : 100%;
                  height : 100%;
                  position : absolute;
                  
                  top : 13%;
                  left : 16px;

                  z-index: -1;
                }

                .trdUserProfileDiv {
                  width : 100%;
                  height : 100%;
                  position : absolute;
                  
                  top : 13%;
                  left : 31px;

                  z-index: -2;
                }

                .postLikeUserTextDiv {
                  width : 83%;
                  height : 100%;

                  display : flex;
                  align-items: center;
                  justify-content: left;
                }

                .postLikeUserTextDiv span {
                  font-weight: 900;
                }

            .postWriterUserCommentDiv {
              width : 100%;
              height : 26%;

              margin-top : 0.5%;

              display : flex;
              align-items: center;
              justify-content: center;
            }

              .postWriterUserCommentInnerDiv {
                width : 90%;
                height : 100%;

                display : block;

              
                margin-right : 1%;
              }

              .postWriterUserCommentInnerDiv p {
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
              }


            .postCommentsDiv {
              width : 100%;
              height : 36%;

              display : flex;
              align-items: center;
              justify-content: center;

              margin-bottom: 2%;
            }

              .postCommentsInnerDiv {
                width : 90%;
                height : 100%;

              }

                .commentFunctionalDiv {
                  width : 100%;
                  height : 40%;

                  display : flex;
                  align-items: baseline;
                  justify-content: left;

                  font-size : 14px;
                  color : gray;
                }

                .postCreatedDateDiv {
                  width : 100%;
                  height : 60%;

                  display : flex;
                  align-items: center;
                  justify-content: left;

                  font-size : 14px;
                  color : gray;
                }

    
    .postInfoDivInSlideMainDiv {
      width : 100%;
      height : 38vh;

      position: absolute;
      bottom : 0;

      display : none;

      border-radius : 15px 15px 0px 0px;
    }

      .postInfoGapDiv {
        width : 100%;
        height : 13%;

        display : flex;
        align-items: center;
        justify-content: center;

        position: relative;

        border-radius : 15px 15px 0px 0px;
      }

        .postInfoGapDiv div {
          width : 70px;
          height : 7px;

          border-radius : 10px;

          position: relative;
          top : -10%;
        }

      .postButtonDiv {
        margin-bottom : 3%;
      }

      .postInfoButton1Div {
        width : 100%;
        height : 26%;

        display : flex;
        align-items: center;
        justify-content: center;
      }

        .postInfoButton1Div>div {
          width : 95%;
          height : 100%;

          display : flex;
          align-items: center;
          justify-content: left;
        }

          .postInfoButton1Div>div>div {
            width : 47%;
            height : 100%;

            border-radius: 12px;
            margin-left : 2%;

          }

            .postInfo1IconDiv {
              width : 100%;
              height : 68%;

              font-size : 24px;
              display : flex;
              align-items: center;
              justify-content: center;
            }

            .postInfo1TextDiv {
              width : 100%;
              height : 32%;

              display : flex;
              align-items: center;
              justify-content: center;
            }
              .postInfo1TextDiv p { 
                font-size : 13px;
              }


      .postInfoButton2Div {
        width : 100%;
        height : 23%;

        display : flex;
        align-items: center;
        justify-content: center;
      }

        .postInfoButton2Div div {
          width : 91%;
          height : 100%;
          
          display : flex;
          align-items: center;
          justify-content: center;

          border-radius: 12px;
        }

      .postInfoButton3Div {
        width : 100%;
        height : 23%;

        display : flex;
        align-items: center;
        justify-content: center;
      }

        .postInfoButton3Div div {
          width : 91%;
          height : 100%;

          display : flex;
          align-items: center;
          justify-content: center;

          border-radius: 12px;
        }

      .postInfo2IconDiv {
        width : 50% !important;
        height : 100% !important;

        font-size : 24px;
      }

      .postInfo2TextDiv {
        width : 50% !important;
        height : 100% !important;
      }

        .postInfo2TextDiv p {
          font-size : 15px;
          width : 100%;

          margin-left : -40%;
        }
        
        .postInfoReportDiv {
          color : rgb(251, 48, 48);
          font-weight: 600;
        }



/* alertDiv */
.commonAlertOutterDiv {
  width : 100vw;
  height : 100vh;

  float : right;
  display : none;
  position : absolute;
  right : 0px;

  z-index: 100;
}
      /* messageDiv */
    .commonAlertHeaderOutterDiv {
        width : 100%;
        height : 8%;

        display : flex;
        align-items: center;
        justify-content: center;

        margin-bottom : 1%;
    }



        .commonAlertHeaderFunctionalDiv {
            width : 65%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: center;
        }

            .commonAlertHeaderFunctionalDiv p {
                width : 80%;
                height : 90%;

                display : flex;
                align-items:flex-end;
                justify-content: left;

                font-size : 25px;
                font-weight: 400;
            }


        .commonAlertHeaderSubDiv {
            width : 35%;
            height : 100%;

            display : flex;
            align-items: center;
            justify-content: center;
        }

            .commonAlertHeaderInnerSubDiv1 {
                width : 50%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: right;
            }

            .commonAlertHeaderInnerSubDiv2 {
                width : 50%;
                height : 100%;

                display : flex;
                align-items: center;
                justify-content: center;
            }

    .commonAlertScrollDiv {
        width : 100%;
        height : 91%;

        overflow-y: scroll;
    }
        .commonAlertContentDiv {
            width : 100%;
            height : 13%;
            margin-top : 1%;
            padding-bottom : 4%;

            display : flex;
            align-items: center;
            justify-content: left;
        }

            .commonAlertContentIconDiv {
                width : 24%;
                height : 94%;

                display : flex;
                align-items: center;
                justify-content: right;

                margin-top : 3%;
            }

                .commonAlertContentIconDiv div {
                    width : 64px;
                    height : 64px;

                    display : flex;
                    align-items: center;
                    justify-content: center;
                    
                    border-radius: 50%;

                    font-size : 29px;

                    border-width: 1px;
                    border-style: solid;
                    /* background-color: blue; */
                }

            .commonAlertContentTextDiv {
                width : 76%;
                height : 97%;
                
                
                display : flex;
                align-items: center;
                justify-content: right;

                margin-top : 3%;
            }

                .commonAlertContentTextDiv>div {
                    width : 95%;
                    height : 100%;
                }

                .commonAlertContentText1 {
                    width : 100%;
                    height : 63%;

                    font-size : 18px;

                    display : flex;
                    align-items: center;
                    justify-content: left;
                    /* background-color: aqua; */
                }

                .commonAlertContentText2 {
                    width : 100%;
                    height : 5%;
                    
                    font-size : 14px;

                    display : flex;
                    align-items: center;
                    justify-content: left;
                    /* background-color: yellow; */
                }






    /* messageDiv */


    .slideMainOutterDiv {
      width : 100vw;
      height : 100%;

      display : flex;
  }

      .slideMainDiv {
          width : 100%;
          height : 100%;

          /* display : none; */
      }


      

          .slideMessageDiv {
              width : 100vw;
              height : 100vh;

              position : absolute;
              right : 0px;

              float:right;

              display : none;
              z-index: 100;
          }


              .commonMessageHeaderOutterDiv {
                  width : 100%;
                  height : 8%;

                  display : flex;
                  align-items: center;
                  justify-content: center;
              }

              
              
                  .commonMessageHeaderFunctionalDiv {
                      width : 65%;
                      height : 100%;

                      display : flex;
                      align-items: center;
                      justify-content: center;
                  }

                      .commonMessageHeaderFunctionalDiv p {
                          width : 80%;
                          height : 90%;

                          display : flex;
                          align-items:flex-end;
                          justify-content: left;

                          font-size : 25px;
                          font-weight: 400;
                      }


                  .commonMessageHeaderSubDiv {
                      width : 35%;
                      height : 100%;

                      display : flex;
                      align-items: center;
                      justify-content: center;
                  }

                      .commonMessageHeaderInnerSubDiv1 {
                          width : 50%;
                          height : 100%;

                          display : flex;
                          align-items: center;
                          justify-content: right;
                      }

                      .commonMessageHeaderInnerSubDiv2 {
                          width : 50%;
                          height : 100%;

                          display : flex;
                          align-items: center;
                          justify-content: center;
                      }




              .commonUserSearchOutterDiv {
                  width : 100%;
                  height : 7%;
                  
                  display : flex;
                  align-items: center;
                  justify-content: center;
              }

                  .commonUserSearchOutterDiv>div {
                      width : 92%;
                      height : 80%;

                      margin-top : 3%;

                      display : flex;
                      align-items: center;
                      justify-content: center;

                      border-radius: 9px;
                  }

                      .searchIconDiv {
                          width : 13%;
                          height : 100%;

                          display : flex;
                          align-items: center;
                          justify-content: center;
                          
                          font-size : 16px;
                          border-radius: 9px;
                      }

                      .searchInputDiv {
                          width : 87%;
                          height : 100%;

                          display : flex;
                          align-items: center;
                          justify-content: center;

                          border : 0px;
                          border-radius : 0px 9px 9px 0px;
                      }

                          .searchInput  {
                              width : 100%;
                              height : 100%;

                              font-size : 16px;

                              border : 0px;
                              color : rgb(49, 49, 49);    

                              border-radius : 9px;
                          }

              .slideMessageScrollDiv {
                  width : 100%;
                  height : 93%;

                  overflow-y: scroll;
              }
                  .slideMessageInnerTmpDiv {
                      width : 100%;
                      height : 3%;
                  }
                  .commonMessageContentDiv {
                      width : 100%;
                      height : 82%;
                      /* margin-top : 8%; */
                  }
                      .commonMessageContentHeaderDiv {
                          width : 100%;
                          height : 8%;

                          display : flex;
                          align-items: center;
                          justify-content: center;

                          /* background-color: yellow; */
                      }
                          .commonMessageContentHeaderDiv div {
                              width : 90%;
                              height : 80%;

                              display : flex;
                              align-items: center;
                              justify-content: left;

                              font-size : 16px;
                          }
                      

                      .messagesOutterDiv {
                          width : 100%;
                          height : 92%;

                          display : flex;
                          align-items: center;
                          justify-content: center;
                      }

                          .messagesDiv {
                              width : 91%;
                              height : 100%;
                          }
                              .messageDiv {
                                  width : 100%;
                                  height : 74px;

                                  display : flex;
                                  /* display : none; */
                                  align-items: center;
                                  justify-content: center;

                                  position: relative;

                                  margin-bottom : 1%;
                              }
                                  .messageUserProfileImgDiv {
                                      width : 18%;
                                      height : 100%;

                                      display : flex;
                                      align-items: center;
                                      justify-content: center;
                                  }

                                      .messageUserProfileImgDiv img {
                                          width : 53px;
                                          height : 53px;

                                          border-radius: 50%;
                                          border : 1px solid gray;
                                      }

                                  .messageInfoDiv {
                                      width : 82%;
                                      height : 100%;

                                      display : flex;
                                      align-items: center;
                                      justify-content: center;
                                  }

                                      .messageInfoDiv>div {
                                          width : 87%;
                                          height: 100%;
                                      }

                                      .messageUsernameDiv {
                                          width : 100%;
                                          height : 53%;

                                          margin-bottom : 2%;

                                          display : flex;
                                          align-items:flex-end;
                                          justify-content: left;

                                          font-size : 17px;
                                      }

                                      .messageTimeInfoDiv {
                                          width : 100%;
                                          height : 45%;

                                          display : flex;
                                          align-items: baseline;

                                          font-size : 15px;
                                          color : rgb(119, 119, 119);
                                      }

                                  .messageFunctionalOutterDiv {
                                      width : 300px;
                                      height : 100%;

                                      /* display : flex; */
                                      display : none;
                                      align-items: center;
                                      justify-content: center;

                                      position : relative;
                                      left : 6%;
                                      background-color: aquamarine;
                                  }

                                      .messageFunctionalOutterDiv div {
                                          width : 50%;
                                          height : 100%;
                                      }

                                          .messageFunctionalDiv1 {
                                          }

                                          .messageFunctionalDiv2 {
                                              background-color: red;
                                          }
}










