<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sodipodi="http://java.sun.com/xml/ns/j2ee"
        xmlns:inkscape="http://java.sun.com/xml/ns/javaee"
        layout:decorate="~{settings/layout/pages/main/common/pagesCommonLayout}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>누누강 : 메인페이지</title>

    <th:block th:replace="settings/config/pages/accounts/alert/alertPageConfig :: alertPageConfig"></th:block>


    <!-- <script th:src="@{/js/mainPages/index.js}"></script> -->
</head>
<body>

    
    <div layout:fragment="content">
        <div>
            <div class="alertHeaderDiv">
                <div class="" onclick="goBackPage()">
                    <p><span id="before"><i class="fa-solid fa-arrow-left"></i></span>알림</p>
                </div>
            </div>
            <div class="alertsOutterDiv" th:unless="${#lists.isEmpty(newAlerts)}">
                <div class="alertsTextDiv">
                    <div>새로운 알림</div>
                </div>
                <div class="alertDiv" th:each="alert : ${newAlerts}">
                    <div class="alertUserDiv" th:alert_user_id="${alert.makeAlertUser.id}" onclick="showUserProfile(this.getAttribute('alert_user_id'))">
                        <div class="alertUserProfileDiv">
                            <img th:src="${alert.makeAlertUser.profile.profileImg}">
                        </div>
                        <div class="alertUsernameDiv">
                            <p th:text="${alert.makeAlertUser.name}"></p>
                        </div>
                    </div>
                    <div class="alertContentDiv">
                        <div>
                            <div class="alertMessage" th:text="${alert.message}">
                        
                            </div>
                            <div class="alertCreatedTimeDiv" th:text="${#calendars.format(alert.createdDate, 'yyyy년 MM월 dd일 HH시 mm분')}">

                            </div>
                        </div>
                        <div class="alertDeleteButtonDiv" th:alert_id="${alert.id}" onclick="deleteAlert(this.getAttribute('alert_id'))">

                        </div>
                    </div>
                </div>
            </div>
            <div class="alertsOutterDiv" th:unless="${#lists.isEmpty(alerts)}">
                <div class="alertsTextDiv">
                    <div>읽은 알림</div>
                </div>
                <div class="alertDiv" th:each="alert : ${alerts}">
                    <div class="alertUserDiv" th:alert_user_id="${alert.makeAlertUser.id}" onclick="showUserProfile(this.getAttribute('alert_user_id'))">
                        <div class="alertUserProfileDiv" >
                            <img th:src="${alert.makeAlertUser.profile.profileImg}">
                        </div>
                        <div class="alertUsernameDiv">
                            <p th:text="${alert.makeAlertUser.name}"></p>
                        </div>
                    </div>
                    <div class="alertContentDiv">
                        <div>
                            <div class="alertMessage" th:text="${alert.message}">
                        
                            </div>
                            <div class="alertCreatedTimeDiv" th:text="${#calendars.format(alert.createdDate, 'yyyy년 MM월 dd일 HH시 mm분')}">

                            </div>
                        </div>
                        <div class="alertDeleteButtonDiv" th:alert_id="${alert.id}" onclick="deleteAlert(this.getAttribute('alert_id'))">

                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
