<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sodipodi="http://java.sun.com/xml/ns/j2ee"
        xmlns:inkscape="http://java.sun.com/xml/ns/javaee"
        layout:decorate="~{settings/layout/pages/main/common/pagesCommonLayout}"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>누누강 : 메인페이지</title>

    <th:block th:replace="settings/config/pages/accounts/mypage/myPageConfig :: myPageConfig"></th:block>


    <!-- <script th:src="@{/js/mainPages/index.js}"></script> -->
</head>
<body>

    
    <div layout:fragment="content">
        <div>
            <input type="hidden" id="user_id" th:value="${user.id}">
            <div class="mypageHeaderDiv">
                <div class="before" onclick="goBackPage()"><i class="fa-solid fa-arrow-left"></i></div>
                <div class="tmp"></div>
                <div class="alert" th:if="${existsNewAlerts == false}">
                    <a th:href="@{/accounts/alert}"><i class="fa-solid fa-bell existsNewAlerts"></i></a>
                </div>
                <div class="alert" th:if="${existsNewAlerts == true}" >
                    <a th:href="@{/accounts/alert}"><i class="fa-solid fa-bell nonExistsNewAlerts"></i></a>
                </div>
                <div class="setting" onclick="getSettingsDiv()"><a></a><i class="fa-solid fa-gear"></i></div>
            </div>
            <div class="userInfoDiv">
                <div class="userProfileDiv">
                    <div class="userProfile">
                        <img th:src="@{${user.profile.profileImg}}">
                    </div>
                    <div class="userFollow">
                        <div>
                            <div th:alert_user_id="${user.id}" 
                                        onclick="showUserWritePosts(this.getAttribute('alert_user_id'))">
                                <p>게시물</p>
                                <p class="cnt" th:text="${#lists.size(user.posts)}"></p>
                            </div>
                        </div>
                        <div>
                            <div th:alert_user_id="${user.id}"  
                                        onclick="showFollowers(this.getAttribute('alert_user_id'))">
                                <p>팔로워</p>
                                <p class="cnt" th:text="${#lists.size(follower)}"></p>
                            </div>
                        </div>
                        <div>
                            <div  th:alert_user_id="${user.id}"  
                                         onclick="showFollowing(this.getAttribute('alert_user_id'))">
                                <p>팔로잉</p>
                                <p class="cnt" th:text="${#lists.size(following)}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="userIntroduceDiv">
                    <div class="userIntro1Div">
                        <div class="username" th:text="${user.name}">
                        </div>
                        <div class="usernameFunctionalDiv" id="usernameFunctionalDiv" onclick="foldUserIntroDiv()">
                            <i class="fa-solid fa-chevron-down" id="fold"></i>
                        </div>
                    </div>
                    <div class="userIntro2Div">
                        <div th:text="${user.profile.intro}">
                            
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="gapDiv"></div>

            <div class="userFunctionalDiv">

            </div>

        </div>
        <div class="settingFunctionalDiv">
            <div>
                <a th:href="@{/accounts/mypage/profile}"><div>프로필 편집</div></a>
                <a th:href="@{/logout}"><div>로그아웃</div></a> 
                <a ><div class="tmpDiv"></div></a>
                <a onclick="deleteUser()"><div class="deleteUserDiv">회원탈퇴</div></a> 
            </div>
        </div>        
    </div>

</body>
</html>
